.footer {
  background: #0b0b0b;
  color: #cfcfcf;
  padding: 60px 80px;
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.3fr 0.8fr;
  gap: 60px;
  align-items: flex-start;
}

.footer-logo {
  width: 140px;
  margin-bottom: 20px;
}

.footer-col p {
  margin: 6px 0;
  font-size: 15px;
}

.footer-col h4 {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-btn {
  margin-top: 20px;
  padding: 12px 32px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #1d4ed8, #22d3ee);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.footer-col label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.footer-col input[type="email"] {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #333;
  color: #fff;
  margin-bottom: 12px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.submit-btn {
  padding: 10px 28px;
  background: transparent;
  border: 1px solid #333;
  color: #999;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons svg {
  background: #2a2a2a;
  border-radius: 50%;
  padding: 10px;
  font-size: 38px;
  color: #cfcfcf;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  background: #1d4ed8;
  color: #fff;
}

.footer-menu {
  list-style: none;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 14px;
  font-size: 16px;
  cursor: pointer;
}
